<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode loggingEnabled="true" debuggingEnabled="false"/>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <appSettings>
    <add key="NODE_ENV" value="production" />
    <add key="NEXTAUTH_URL" value="http://103.101.225.233/newopr/api/auth" />
    <add key="NEXTAUTH_SECRET" value="dmjbxppvzefqxaloewtjuoknqqdsumlh" />
    <add key="NEXT_PUBLIC_BASE_URL" value="http://103.101.225.233/newopr" />
  </appSettings>
</configuration>