@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif !important;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Merriweather, sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
