.glass {
	/* background: #f58e2e00; */
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.1px);
	-webkit-backdrop-filter: blur(10.1px);
}

.linear {
	background: rgb(245, 141, 46);
	background: linear-gradient(323deg, rgba(245, 141, 46, 1) 30%, rgba(0, 150, 164, 1) 30%);
}
